body {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.main_text {
    position: relative;
    left: 12%;
    top: 40px;
    text-align: center;
    background-color: f2f2f2;
    color: black;
    width: 1185px;
    height: 500px;
    border: dashed #333;
}


#wsro {
    position: relative;
    left: 12%;
    top: 20px;
    height: 800px;
    width: auto;
    border: solid #333;
}
.topnav {
    background-color: #333;
    position: relative;
    left: 0px;
    height: 62px;
    width: 100%;
    margin: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 34px;
    text-decoration: none;
    font-size: 22px;
  }
  .topnav img {
    float: right;
    width: 3%;
    height: auto;
    position: absolute;
    right: 20px;
    top: 3px;
  }
  /* Change the color of links on hover */
  .af:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }