body {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.main_text {
    position: relative;
    left: 45px;
    top: 20px;
    text-align: center;
    background-color: f2f2f2;
    color: black;
    width: 1100px;
    height: 1100px;
    border: solid #333;
}

.werner {
    position: absolute;
    left: 72%;
    top: 20%;
    height: 100%;
    width: 20px;
    margin: 0px;
}
.werner img {
    margin-right: 20px;
    height: 300px;
    width: auto;
    border: solid #333;
}
.topnav {
    background-color: #333;
    position: relative;
    left: 0px;
    height: 62px;
    width: 100%;
    margin: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 34px;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }